* {
  padding: 0;
  margin: 0;
}

*body {
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
}

.slide {
  position: relative;
  margin: 50px auto;
}

.slide-image {
  width: 500px;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.slide-image .img {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  transition: opacity 800ms ease;
}
.slide-image .img.active {
  opacity: 1;
}

.slide-btns {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ccc;
}

.slide-btn {
  position: absolute;
  width: 12%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  background: rgba(7, 7, 7, 0.6);
  transition: opacity 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-btn:hover {
  opacity: 1;
}
.left {
  left: 0;
}

.right {
  right: 0;
}

.slide-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
}

.slide-dots-item {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.4s ease;
}
.slide-dots-item:hover,
.active {
  background: #000;
}

.slide-img-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(7, 7, 7, 0.6);
  color: #ccc;
  text-align: center;
  z-index: 1;
  padding: 7px 0;
}
